# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# Windows system files
AppData/
*.lnk
*.tmp
*.log
*.ldb
*.dat
*.odlgz
*.aodl
*.db
*.db-shm
*.db-wal
*.tmp

# Browser cache and data
AppData/Local/Google/
AppData/Local/Microsoft/
AppData/Local/Packages/
AppData/Roaming/Microsoft/
AppData/Local/Temp/

# OneDrive
AppData/Local/Microsoft/OneDrive/

# Downloads
Downloads/

# System files
*.rar
*.zip
*.7z
